<div class = 'channel-aside col-sm-3 col-lg-2 hidden-xs'>
  <div class = 'channels'>
    <% @all_channels.each do |channel| %>
      <%= link_to channel.subject, channel, class: 'channel-title', remote: true %>
    <% end %>
  </div>
  <hr />
  <a href='javascript:void(0);' data-toggle="modal" data-target="#newChannelModal">
    Create New Channel
  </a>
</div>

<%= render 'new' %>
