<div class = 'channel-aside col-md-3 col-lg-2 hidden-xs'>
  <% @all_channel_subjects.each do |subject| %>
    <a href = 'javascript:void(0)' class = 'channel-title'><%= subject %></a>
  <% end %>
</div>
