<h3> <strong><center> History Of Triangle </center></strong> </h3>
<ul>
  <li> In the fall of 1906, 16 civil engineering Juniors at the University of Illinois laid the foundation that would quickly become Triangle Fraternity.</li>
  <li> These Founders based their organization on the principles of honor, friendship, character, brotherhood, courage, and ideals. </li>
  <li> A little more than a year later, Triangle was officially founded in the state of Illinois. April 15th, 1907 is celebrated annually at each Triangle chapter as Founder's Day.</li>
</ul>
