<h2> Triangle at Rose </h2>
62 years later, Triangle was established at Rose-Hulman. Today, student and faculty leaders alike are equally proud of their fraternity heritage through membership in Triangle. As leaders on campus and in the community, Triangle Brothers lead by example and are involved in many campus organizations.
