<div class = 'container'>
  <h4><strong>TRIANGLE AT ROSE</strong></h4>
  <p> Like those of most other fraternities, Triangle's beginnings came from the desire of some congenial college friends to extend their friendship, not only through college, but also for life.<p>

  <p>It was in the fall of 1906 that 16 civil engineering Juniors at the University of Illinois began the association that became Triangle Fraternity. These Founders based their organization on the principles of honor, friendship, character, brotherhood, courage, and ideals.</p>
  <%= image_tag 'old_house.png', class: 'then-and-now' %>
  <p>62 years later, in 1968, Triangle was established at Rose-Hulman. Today, student and faculty leaders alike are equally proud of their fraternity heritage through membership in Triangle.</p>
  <%= image_tag 'new_house.png', class: 'then-and-now' %>
  <p>Despite limitation of membership to those whose studies are in technology and science, Triangle is a general social fraternity and a senior member of the National Interfraternity Conference.</p>
