<div id = 'about-us' class = 'container-fluid about-us container-lg-padded'>
  <h4><strong>TRIANGLE AT ROSE</strong></h4>
  <p>It was in the fall of 1906 that 16 civil engineering Juniors at the University of Illinois laid the foundation that would quickly become Triangle Fraternity. These Founders based their organization on the principles of honor, friendship, character, brotherhood, courage, and ideals.</p>
  <%= image_tag 'new_house.png', class: 'then-and-now' %>
  <p>62 years later, Triangle was established at Rose-Hulman. Today, student and faculty leaders alike are equally proud of their fraternity heritage through membership in Triangle. As leaders on campus and in the community, Triangle Brothers lead by example and are involved in many campus organizations.</p>
  <%= image_tag 'old_house.png', class: 'then-and-now' %>
  <p>Despite limitation of membership to those whose studies are in technology and science, Triangle is a general social fraternity and a senior member of the National Interfraternity Conference.</p>
</div>
