<div class = 'landing-hero'>
  <center>
  <h4> Welcome to </h4>
  <h1> TRIANGLE FRATERNITY </h1>
  <h3> ROSE-TECH CHAPTER </h3>
  </center>
</div>
<%= render 'tweets' %>
<%= render 'layouts/calendar' %>
<%= render 'layouts/officers' %>
