<div class = 'container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-4 item item1 active step-container'>
      <center class='info-text'>
        <%= image_tag 'scroll_icon' %>
        <h5 class = 'keyword'> READ </h5 >
          <p> Read the <a href='#president'>roles and responsibilities</a> of each member </p>
      </center>
    </div>
    <hr class = 'officer-separator'/>
    <div class='col-xs-12 col-sm-4 item item2 step-container'>
      <center class='info-text'>
        <%= image_tag 'phone_icon' %>
        <h5 class = 'keyword'> CONTACT </h5 >
        <p> Contact current officers and understand what they do and how they are helping the house </p>
      </center>
    </div>
    <hr class = 'officer-separator'/>
    <div class='col-xs-12 col-sm-4 item item3 step-container'>
      <center class='info-text'>
        <%= image_tag 'voting_icon' %>
        <h5 class = 'keyword'> GET NOMINATED </h5 >
        <p> Be nominated and elected during the annual alumni chapter meeting, which is held over homecoming weekend </p>
      </center>
    </div>
    <hr class = 'officer-separator'/>
  </div>
</div>
