<div id = 'alumni-hero' class = 'hero-container'>
  <center class = 'hero-text'>
    <h4> Triangle Fraternity </h4>
    <h1> ALUMNI BODY </h1>
    <h3> ROSE-TECH CHAPTER </h3>
  </center>
</div>
<div class = 'container-fluid alumni-body'>
  <% @alumni_officers.each do |position| %>
    <%= render 'alumni_officers/show', position: position %>
  <% end %>
</div>
<div class='full-cal'>
  <center>
    <h6> Are you interested in being on the alumni board? Read below for more details!</h6>
  </center>
</div>
<%= render 'join_the_board' %>
