<nav>
<span class = 'forum-subject'> <%= subject %> </span>
<span> <%= "#{member_count} #{'Member'.pluralize(member_count) }" %> </span>
<span class = 'vertical-divider'>|</span>
<span> <%= description %> </span>
</nav>
<hr />
