.about-us p{
  text-align: justify;
}
img.then-and-now{
  width: 100%;
  padding-bottom: 10px;
}

// the new about-us
.about-us-banner{
  color: white;
  background-color: #BDBCBC;
  padding: 10px 10px 14px;
  h6{ font-size: 14px; }
}
