*, *:after, *:before {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-table; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }


#calendar_header{
  background-color: #ECECEC;
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  height: 42px;
  line-height: 2.3;
  .month, .year{
    display: inline;
  }
}
.calendar-scroll{
  font: normal normal normal 14px/3 FontAwesome;
  background-color: #A9A9A9;
  color: #ECECEC;
  width: 31px;
  &:hover{
    color: #ECECEC;
  }
}
/* for demo */
.wrapper {
  display:block;
  margin: 10px auto;
  background: #FCFCFC;
  padding: 0px 26px 0px 34px;
}
div#calendar {
  color: #C5C2C2;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  float: left;
  height: 300px;
  background: #F3F3F3;
}
table {
  width: 100%;
  font-family: sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #DADADA;
  background: #ECECEC;
  height: 300px;
}
tr.subhead_cal {
  background: #FF8585;
  color: #FFF;
  font-size: 18px;
  line-height: 28px;
}
tr.week_cal {
  background: #FFF;
  color: #D5D5D5;
  font-size: 13px;
  line-height: 27px;
  th{ text-align: center; }
}
td.white_cal {
  background: #ECECEC!important;
}
tbody.days_cal tr td a {
  padding: 5px 5px;
  text-decoration: none;
  color: #B9B9B9;
  line-height: 30px;
  &.single-digit{
    padding: 4px 8px;
  }
}
tbody.days_cal tr td {
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  border: 1px solid #EBEAEA;
  text-align: center;
}
.event {
  border-radius: 100%;
  border-bottom: 1px solid #3498DB;
  transition: all 0.3s ease;
}

.event-info{
  text-align: justify;
}
.today_cal.event {
  border-radius: 100%;
  border-bottom: 1px solid #C1252A;
  transition: all 0.3s ease;
}

.today_cal.event:hover, .event:hover{
  border-color: #E26D2B;
  color: #E26D2B;
  transition: all 0.3s ease;
}

.days_cal .active a{
  border: 2px solid #C1252A;
  border-radius: 19px;
}

.days_cal a{
  border: 2px solid transparent;
}

#calendar_data{
  .event-title {
    font-size: 15px;
    padding-top: 5px;
    margin: 0;
    color: #C1252A;
  }
  .event-date{
    font-size: 11px;
    color: #BBBBBB;
  }
  .event-link{
    color: #BBBBBB;
    &:visited{
      color: #BBBBBB;
    }
    &:hover{
      color: #BBBBBB;
      text-decoration: none;
    }
  }
}

.calendar-divider{
  width: 93%;
  margin-bottom: 20px;
  border: 0;
  border-top: 30px solid #eee;
  top: 20px;
  padding-top: 3px;
  background-color: #DADADA;
  border-color: white;
}

.full-cal{
  color: white;
  background-color: #C43237;
  padding: 10px 10px 20px;
}

.calendar-link{
  font-size: 12px;
  border: 2px solid white;
  color: white;
  padding: 4px;
  &:hover, &:visited{
    color: white;
    text-decoration: none;
  }
}
