.capital-progress, .total-cost{
  position: relative;
  bottom: -10px;
}

.project-slider { position: relative; }

#project-slider{
  top: -18px;
  position: relative;
  height: 10px;
  opacity: 1;
  .ui-slider-range{
    border-color: #B30D0D;
    background: #B30D0D;
    height: 100%;
}
}

.project{
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 2px solid #ebebeb;
  border-radius: 2px;
}
.project-pic-container{
  .carousel-control {
    span { padding-top: 17vh; }
    height: 35vh;
}
.carousel-inner{
  .item {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width: 100%;
    height: 35vh;
}
}
}
.section-title{
  padding-top: 1px;
  background-color: #ececec;
  padding-bottom: 5px;
}

.btn-paypal{
  background: linear-gradient(to bottom, #fee9c1 , #ffad32);
  color: #0c3968;
//  border-radius: 20px;
  &:hover{
  background: linear-gradient(to bottom, #ffad32 , #ffad32);
  }
}

.donation-instructions input{ display: block }

.donation-instructions input[type='radio']{ display: inline; }

input[type='radio'] + label{
  text-decoration: none;
  font-size: 11px;
  padding-right: 10px;
  padding-left: 3px;
}

.donation-instructions label { text-decoration: underline; }
.donation-instructions input[name='submit']{
  margin-top: 10px;
}
.modal-content{ overflow: hidden }
