body{
  font-family: 'oswald';
  font-size: small;
  font-weight: 100;
  letter-spacing: 0.4px;
}
span, p{
  font-size: 11px;
  font-family: 'source-sans-pro';
}

a{
  color: black;
  &:visited { color: black }
  &:hover { color: black }
}
h4{ // this is really for 'section-header'
  font-size: 14px;
  letter-spacing: 1px;
}
