@media(max-width: 768px){
  body > .container-fluid > .row > *{
    padding-left: 0px;
    padding-right: 0px;
  }
}

$font-size: 13px;
$line-height: 1.4;
$lines-to-show: 2;

.multiline-elipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  @media (max-width: 767px){
    height: $font-size*$line-height*2; /* Fallback for non-webkit */
    -webkit-line-clamp: 2;
  }
  @media (min-width: 768px){
    height: $font-size*$line-height*5; /* Fallback for non-webkit */
    -webkit-line-clamp: 5;
  }
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  font-family: 'oswald';
  font-size: small;
  font-weight: 100;
  letter-spacing: 0.4px;
}
span, p{
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  color: black;
  &:visited { color: black }
  &:hover { color: black }
}
h4{ // this is really for 'section-header'
  font-size: 14px;
  letter-spacing: 1px;
}
.container-lg-padded{
  @media (min-width: 768px) {
    padding-left: 33px;
}
}

.btn-square{
  border-radius: 0px;
}
