.nav{
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  height: 42px;
  line-height: 2.3;
  .brand{
    line-height: 2.5;
    display: inline;
    img {
      width: 22px;
      padding-bottom: 3px;
    }
  }
  .navbar-sm-icon{
    padding: 0px 30px;
  }
  &.nav-upper{
    background-color: black;
  }
  &.nav-lower{
    background-color: #1F1F1F;
    .quick-links li a{
      color: white;
      padding-right: 15px;
      font-size: 9px;
    }
    .brand{
      padding-left: 5%;
      color: white;
      line-height: 1.5
    }
  }
}
.dropdown-menu{
  left: -1px;
  border-radius: 0;
  padding: 0;
  top:39px;
}
.dropdown-menu-item{
  border-bottom: 1px solid #ECECEC;
  a{font-weight: bold}
  &:last-of-type{ border-bottom: none; }
  &.search{
    background-color:#ECECEC;
  }
}
.dropdown-backdrop{
  z-index: 3;
  background-color: black;
  opacity: 0.2;
  top: 41px;
}

.quick-links{
  list-style: none;
  li{
    display:inline;
  }
}
