.nav{
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  height: 42px;
  line-height: 2.3;
  .brand{
    line-height: 2.5;
    display: inline;
    img {
      width: 22px;
      margin-top: -3px;
    }
  }
  .navbar-sm-icon{
    padding: 0px 30px;
  }
  &.nav-upper{
    background-color: black;
  }
  &.nav-lower{
    background-color: #1F1F1F;
    .quick-links>li>a{
      color: white;
      padding-right: 15px;
      font-size: 10px;
    }
    .brand{
      padding-left: 5%;
      color: white;
      line-height: 1.5
    }
  }
}

  .dropdown-menu{
    border-radius: 0;
    padding: 0;
    min-width: 0px;
    @media(max-width: 992px) {
      left: -1px;
      top:32px;
    }
    @media(min-width: 992px) {
      top: 20px;
      font-size: 11px;
      left: inherit;
      right: 0px; }
}

.dropdown-menu-item{
  border-bottom: 1px solid #ECECEC;
  a{font-weight: bold}
  &:last-of-type{ border-bottom: none; }
  &.search{ background-color:#ECECEC; }
}

.dropdown-backdrop{
  @media(min-width: 992px) { display: none; }
  z-index: 3;
  background-color: black;
  opacity: 0.2;
  top: 36px;
}

.nav li.dropdown.open{
  @media(min-width: 992px) {
    a {
      background-color: #1F1F1F;
      text-decoration: none;
      color: white;
    }
  }
  @media(max-width: 992px) {
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.nav .dropdown.open li{
  @media(max-width: 992px) { a { color: black; }}
  @media(min-width: 992px) { a { color: white; }}
}

.quick-links{
  list-style: none;
  li{
    display:inline;
  }
}
.nav .login-buttons .btn{ font-size: 11px !important }
