@media (min-width: 768px) {
  .wrapper{
    background: white;
  }
}

.info-container{
  display: inline-block;
}

.officer-separator{
  border-top: 2px solid #eee;
  width: 100%;

  @media (min-width: 768px) {
    display: none;
}
}

.officer-container{
  @media (max-width: 768px) {
    padding-bottom: 15px;
  }
}

.officer-picture{
  vertical-align: top;
  display:inline;
  height: 110px;
  padding-right: 20px;
}
.officer-name{
  font-family: 'oswald';
  display:block;
}
.officer-email{
  display:block;
  @media (max-width: 768px) {
    font-size: 11.25px;
  }
}

.officer-phone{
  display:block;
}
.officer-title{
  display:block;
  font-weight: bold;
  padding-bottom: 15px;
}
