.info-container{
  display: inline-block;
}

.officer-separator{
  border-top: 2px solid #eee;
}

.officer-picture{
  vertical-align: top;
  display:inline;
  height: 110px;
}
.officer-name{
  display:block;
}
.officer-email{
  display:block;
}
.officer-phone{
  display:block;
}
.officer-title{
  display:block;
}
