@media (min-width: 768px){
  .tweets { border-color: white; }
}
.tweets{
  font-family: 'oswald';
  border: 10px solid #ECECEC;
  border-top: 15px solid #ECECEC;
  .tweet-header{
    padding-left: 10px;
    h4{ margin-top: 11px; }
}
.tweet-url{
  color: #B30D0D;
}
.follow-us{
  margin-top: 7px;
  height: 20px;
  font-size: 8px;
  letter-spacing: 1px;
  padding: 1.5px 15px;
}
.tweet{
  font-family: inherit;
  border-top: 2px solid #ECECEC;
  padding: 9px;
  padding-top: 12px;
  .tweet-metadata{
    font-family: inherit;
    white-space: nowrap;
    margin-top: -3px;
    color: #C9C9C9;
    font-size: 7.5px;
    letter-spacing: 0.5px;
    padding-bottom: 6px;
}
.author-pic{
  width: 100%;
}
.tweet-link{
  padding-top: 5px;
  a{
    font-weight: bold;
    color: #A9A9A9;
    letter-spacing: 1px;
    font-size: 10px;
}
}
}
}
