@media (min-width: 768px){
  .landing-hero{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20vh;
  }
}
@media (max-width: 767px){
  .landing-hero{ height: 40vh; }
}
.landing-hero{
  font-family: 'oswald';
  letter-spacing: 2.5px;
  color: white;
  width: 100%;
  background: image-url('new_house') no-repeat center center;
  height: 80vh;
  background-size: cover;
  h1, h2, h3, h4, h5{
    margin: 0;
}
h4{
  padding-top: 60px;
  padding-bottom: 10px;
}
h1{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}
h3{
  font-size: 20px;
}
}

.btn-red{
  color: #B30D0D;
  border-color: #B30D0D;
  font-weight: bold;
  border-radius: 0;
  border-width: 2px;
  &:hover{
    color: #CA0000;
    background-color: #ECECEC;
    border-color: #B30D0D;
}
}

