@media (min-width: 768px){
  #image-carousel, #info-carousel{
  & > .carousel-inner > .item, .landing-hero{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20vh;
  }
  }
}

@media (max-width: 767px){
  .landing-hero{ height: 40vh; }
}

.landing-hero{
  font-family: 'oswald';
  letter-spacing: 2.5px;
  color: white;
  width: 100%;
  background: image-url('new_house') no-repeat center center;
  height: 80vh;
  background-size: cover;
  h1, h2, h3, h4, h5{
    margin: 0;
}
h4{
  padding-top: 60px;
  padding-bottom: 10px;
}
h1{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}
h3{
  font-size: 20px;
}
}

#image-carousel, #info-carousel{
  &  > .carousel-inner {
  &  > .item{
  height: 80vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  width: 100%;
  padding-top: 20vh;
  &.item1{
    background-image:  image-url('new_house');
    h1, h2, h3, h4, h5{
      font-family: 'oswald';
      letter-spacing: 2.5px;
      color: white;
      margin: 0;
    }
    h4{
      padding-top: 60px;
      padding-bottom: 10px;
    }
    h1{
      font-size: 22px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    h3{ font-size: 20px; }
  }
  &.item2{ background-image:  image-url('pledge_class_2013_2'); }
  &.item3{ background-image:  image-url('ski_trip_2'); }
  &.item4{ background-image:  image-url('ski_trip_3'); }
  &.item5{ background-image:  image-url('outdoor_trip_2'); }
  &.item6{ background-image:  image-url('pledge_class_2010_3'); }
}
}
}

.btn-red{
  color: #B30D0D;
  border-color: #B30D0D;
  font-weight: bold;
  border-radius: 0;
  border-width: 2px;
  &:hover{
    color: #CA0000;
    background-color: #ECECEC;
    border-color: #B30D0D;
}
}

.carousel-control {
  bottom: 8px;
  span{
    padding-top: 40vh;
  }
}
