<hr class='hidden-md hidden-lg'/>
<div class = 'event-header'>
  <h4> <strong> UPCOMING EVENTS</strong> </h4>
</div>
<div class = 'container-fluid calendar-events'>
  <% @events.each do |event| %>
    <div class = 'row calendar-event'>
      <div class="event-summary" class = 'col-xs-12'>
        <h5 class='event-title'><%= event.summary %> </h5>
        <span class='event-date'>
          <% start_date = event.start.try(:date_time) || event.start.try(:date) %> <!-- TODO: presenter, perhaps? -->
          <% start_date = Date.parse(start_date) if start_date.is_a? String %>
          <%= start_date.strftime("%b #{start_date.day.ordinalize}, %Y") %>
        </span>
        <br />
        <span class='event-info multiline-elipsis'>
          <%= event.description || 'No description available for this event' %>
        </span>
        <a href='javascript:void(0);' class='event-link'>
          Read More <i class = 'fa fa-arrow-right'></i>
        </a>
      </div>
    </div>
  <% end %>
</div>
