<div class = 'rush-hero container-fluid rush-container'>
  <div class = 'row'>
    <div class = 'col-xs-6'>
      <h4> <strong>RUSH </strong></h4>
    </div>
    <div class = 'col-xs-12 col-md-6 pull-right'>
      <%= image_tag 'rush_hero.png', class: 'hero-pic'%>
      <br /> <br />
    </div>

    <div class = 'col-xs-12 col-md-5'>
      <p>
      The Men of Triangle would like to welcome you to Rose‐Hulman and invite you to take a look into our
      Fraternity. We take pride in the strength of our chapter here and believe Triangle helps every man who joins to
      develop academically, socially, and professionally. Along with this personal growth, the men of Triangle form
      enduring friendships that continue far beyond the short time here at Rose.
      <br /> <br />
      Triangle is a fraternity of engineers, scientists, and architects dedicated to the development of its
      members and the improvement of its brotherhood. This is evident in everything we do. For the past ten years,
      the Rose‐Tech chapter of Triangle has been ranked the top Triangle chapter nationally.
      <br /> <br />
      <a href = 'http://www.rose-hulman.edu/IFC'>
        Rose-Hulman Interfraternity Council
      </a>
      regulates rush ensure everyone has a fun, safe experiece. To view the full list of
      rules and regulations, click the link below.
      </p>
      <a href='javacript:void(0);' id='rules-n-regs' class = 'btn'>
        Rules & Regs
      </a>
    </div>
  </div>
</div>
