<div class = 'rush-hero container-fluid'>
  <h4> <strong>RUSH </strong></h4>
  <div class = 'row'>
    <div class = 'col-xs-12'>
      <p> A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here. 
      A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here. 
      A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here. 
      A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here. 
      <a href='javacript:void(0);' class = 'btn'>
        Rules & Regs
      </a>
    </div>
    <div class = 'col-xs-12'>
      <%= image_tag 'new_house' %>
    </div>
  </div>
</div>
