<div class = 'rush-hero container-fluid rush-container'>
  <div class = 'row'>
    <div class = 'col-xs-12'>
      <h4> <strong>RUSH </strong></h4>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-5'>
      <p> A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here.
      A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here.
      A little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here.
      A litA little bit about rush can go here. A little bit about rush can go here. A little bit about rush can go here.

      A lot about rush can go here. A lot about rush can go here. A lot about rush can go here.
      A lot about rush can go here. A lot about rush can go here. A lot about rush can go here.
      A lot about rush can go here. A lot about rush can go here. A lot about rush can go here.
      tle bit about rush can go here. A lot about rush can go here. A lot about rush can go here.
      </p>
      <a href='javacript:void(0);' id='rules-n-regs' class = 'btn'>
        Rules & Regs
      </a>
      <br class='hidden-lg'/>
    </div>
    <div class = 'col-xs-12 col-md-6 pull-right'>
      <%= image_tag 'rush_hero.png', class: 'hero-pic'%>
    </div>
  </div>
</div>
