<h4 class='col-xs-12'> <strong> MORE INFO </strong> </h4>
<div class = 'col-xs-12' >
  Involvement in campus life is valued and encouraged at Triangle. As a result, we have members involved in a variety
  of clubs, varsity sports, and club sports. Frequently, these members also serve as leaders in the organizations with
  which they participate. In fact, during the past few years we have had members serving as President , Treasurer, and
  Community Service Chair for the American Society of Civil Engineers, President of the National Society of Black Engineers,
  President of the American Institute of Chemical Engineers, President of American Society of Biomedical Engineers, President
  of the Best Buddies program, President of Habitat of Humanity, Head Co‐Chairs of the Career Fair Team, Captains of the
  Baseball and Soccer teams, and many other positions in countless other clubs and organizations.
</div>
