<div class="wrapper container">
  <h4>CALENDAR</h4>
  <p> Here is a list of events coming up this month. Anyone and everyone is welcome to join us </p>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-6'>
      <div id='calendar_header'>
        <a href = 'javascript:void(0);' class = 'calendar-scroll pull-left'><i class = 'fa fa-chevron-left fa-1'></i></a>
        <span class = 'month'></span>
        <span class = 'year'></span>
        <a href = 'javascript:void(0);' class = 'calendar-scroll pull-right'><i class = 'fa fa-chevron-right fa-6'></i></a>
      </div>
      <div id="calendar"></div>
    </div>
    <div id="calendar_data" class = 'col-xs-12 col-md-6'> </div>
  </div>
</div>
