<div class = 'container-fluid'>
  <h4><strong>CONTACT US</strong></h4>
  <div class = 'row'>
    <%= render 'layouts/email_form'%>
  </div>
  <hr />
  <div class='row'>
    <div class='col-xs-6'>
      <%= render 'layouts/map' %>
    </div>

    <div class='col-xs-6'>
      <a href="tel:+18128771908">812-877-1908</a>
      <br /> <br />
      <p>
      5500 Wabash Ave
      <br />
      Terre Haute, IN 47803
      <br />
      Mailbox: CM5054
      </p>
    </div>
  </div>
</div>
