<div id='nav'>
  <div class='dropdown'>
    <a href = 'javascript:void(0);' class = 'navbar-sm-icon pull-left dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='true'><i class="fa fa-bars fa-lg"></i></a>
    <ul class = 'dropdown-menu'>
      <li class='dropdown-menu-item'> <a href='#'><strong>HOME</strong></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>OFFICERS</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>HISTORY</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>CALENDAR</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>RUSH</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>ALUMNI BODY</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>FORUM</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>PROJECTS & DONATIONS</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>CONTACT</strong></a></li></a></li>
    </ul>
    <div class='dropdown-backdrop' style='visibility:hidden'></div>
  </div>
  <h4 class = 'brand'><%=image_tag 'small_logo.png' %> <strong>TRIANGLE</strong></h4>
  <a href = 'javascript:void(0);' class = 'navbar-sm-icon pull-right'><i class="fa fa-user fa-lg"></i></a>
</div>
