<div class='nav visible-xs visible-sm'>
  <div class='dropdown'>
    <a href = 'javascript:void(0);' class = 'navbar-sm-icon pull-left dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='true'><i class="fa fa-bars fa-lg"></i></a>
    <ul class = 'dropdown-menu'>
      <li class='dropdown-menu-item'> <a href='#'><strong>HOME</strong></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>OFFICERS</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>HISTORY</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='/calendar'><strong>CALENDAR</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='/rush'><strong>RUSH</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>ALUMNI BODY</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>FORUM</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>PROJECTS & DONATIONS</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='#'><strong>CONTACT</strong></a></li></a></li>
    </ul>
    <div class='dropdown-backdrop' style='visibility:hidden'></div>
  </div>
  <a href = '/'><h4 class = 'brand'><%=image_tag 'small_logo.png' %> <strong>TRIANGLE</strong></h4></a>
  <a href = 'javascript:void(0);' class = 'navbar-sm-icon pull-right'><i class="fa fa-user fa-lg"></i></a>
</div>
<div class='visible-md visible-lg'>
  <div class='nav nav-lower'>
    <a href = '/'><h4 class = 'brand pull-left'><%=image_tag 'small_logo_white.png' %> <strong>TRIANGLE</strong></h4></a>
    <ul class='quick-links pull-right'>
      <li> <a href='#'>ACTIVE BODY</a></li>
      <li> <a href='#'>HISTORY</a></li>
      <li> <a href='/calendar'>CALENDAR</a></li>
      <li> <a href='/rush'>RUSH</a></li>
      <li> <a href='#'>ALUMNI</a></li>
      <li> <a href='#'>FORUM</a></li>
      <li> <a href='#'>GIVING BACK</a></li>
      <li> <a href='#'>CONTACT</a></li>
    </ul>
  </div>
</div>
